<footer class="site-footer">
    <div id=page-size>{{ i18n "pagesize" | default "Page Size"}}: <span id="size-value"> $PLACEHOLDER</span></div>
    <div id=back-to-top><a id="" href="#top" title="Back to top"> ↑ </a></div>
    <h2>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h2>
    <div class="dashboard">
        <ul class="grid">
            <li>
            <li>
                <h3>Info</h3>
                {{ partial "site-footer" }}
            </li>
            <li>
                <h3>Contact</h3>
                    beaudry [at] beaudrychase [dot] xyz</p>

                <div class="social">
                    <!--  RSS FEED -->
                </div>
                <!-- /.social -->

            </li>
        </ul>
    </div>
</footer>